* {
    font-family: arial, Arial, Helvetica, sans-serif;
    font-size: 13px;
}
body{
    margin: 0 auto;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#drawer{
    vertical-align: middle;
    width: 19px;
    opacity: 0.5;
}
#drawer:hover{
    opacity: 1;
}
.top-right{
    float: right;
    padding-right: 30px;
    padding-top: 2%;
}
.top-right a{
    color: rgba(0,0,0,0.87);
    text-decoration-color: currentColor;
}

.top-right * {
    padding-right:15px;
}

#sign-in{
    height: 60px;
    border: 1px solid #4285f4;
    font-weight: bold;
    margin-left: 13px;
    color:white;
    background: #4387fd;
    border-radius: 3px;
}
#sign-in{
    padding-left: 12px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-top: 8px;
}

#sign-in:hover{
    text-decoration: none;
    background: #0f54c2;
}
.middle{
    margin-left: 40%;
    display: block;
}
.input-bar{
    display: block;
    margin-left: -75px;
}
.input-bar input{
    position: relative;
    display: table;
    width: 70%;
    margin-right: 100%;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow:none;
    background-color: #fff;
    outline: none;
    text-indent: 15px;
    padding-bottom: 10px;
}
#logo{
    padding-top: 156px;
}